@charset "UTF-8";

@media screen and (max-device-width: 320px){
  body{
    -webkit-text-size-adjust: none;
  }
}

.data_midlle { width: 685px; float: left; }

.wrapper { margin-bottom: 20px; }
.content_middle{ float:none;}

/*---左邊導盲磚--*/
/*.accesskey_l, .accesskey_c, .accesskey_r, .accesskey_z { position: absolute; top: 0; left: 0; width: 20px; z-index: 20; }
.accesskey_l a, .accesskey_c a, .accesskey_r a, .accesskey_z a { text-decoration: none; }*/

/*---左邊導盲磚--*/
.accesskey_l{position:absolute;top:0;left:0;width:20px;z-index:20}.accesskey_l a{text-decoration:none}

/*---中間導盲磚--*/
.accesskey_c{position:absolute;top:40px;left:300px;width:20px;z-index:10}.accesskey_c a{text-decoration:none}

/*---右邊導盲磚--*/
.accesskey_r{position:absolute;top:0;left:1000px;width:20px;z-index:10}.accesskey_r a{text-decoration:none}

/*---下方導盲磚--*/
.accesskey_z{position:absolute;top:0;left:0;width:20px;z-index:10}.accesskey_z a{text-decoration:none}

/*---banner--*/
.topbanner { display: none; }

/***** 框 架 結束 ******/
/*-------內頁次選單-------*/
.second_menu { margin-top: 30px\9; margin: 0 15px 10px 0px; line-height: 1.7;}
.second_menu h4 { color: #FFF; font-weight:normal; text-align: center; font-size:19px; letter-spacing:0.1em; line-height:2em; display:block; height:40px; background:url(../images/maintitle_bg.png) no-repeat center top; }
.second_menu h5 { /*font-family:"微軟正黑體";*/ font-size: 1em\9; font-weight: normal; /* display: block; */ text-align: left; line-height: 3; border-bottom: 1px solid #053C78; border-top: 1px solid #fff; }
.second_menu h5 a {/*font-family:"微軟正黑體";*/ padding-left: 23px; background-position: 8px 8px; padding: 3px 5px 3px 30px; display: block; font-size:15px; background: url(../images/page_icon2.png) no-repeat; background-position: 15px 10px; color: #FFF; text-decoration: none; font-weight:normal; line-height: 1.7; margin: 5px; }
.second_menu h5 a:hover {display: block; color: #fff; text-decoration: none; background:#999; behavior: url(js/PIE.htc); behavior: url(js/ie-css3.htc) \9; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.second_menu ul { margin-top: 1px; margin-left:0px; margin-right:0px; background:url(../images/secondmenu_bg3.png) repeat-x; }
.second_menu ul li { padding: 0 0 0px 2px; list-style-type: none; }

.second_menu_yes h5 { font-size: 1em\9; font-weight: normal; /* display: block; */ text-align: left; line-height: 3; border-bottom: 1px solid #053C78; border-top: 1px solid #fff; }
.second_menu_yes h5 a { display: block; color: #fff; text-decoration: none; background:url(../images/secondmenu_bg22.png) repeat-y; behavior: url(js/PIE.htc); behavior: url(js/ie-css3.htc) \9; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.second_menu_yes h5 a:hover{ background: url(../images/secondmenu_bg22.png) repeat-y; cursor:default;}

.title { /*font-family:"微軟正黑體";*/ /*background-color:#EBF0FF;*/ color:#053C75;  font-size: 123.1%; display:block; /*border-top: 1px dotted #0c6994;*/  border-bottom: 3px solid #155498/*#0c6994*/; margin-right: 5px; margin-bottom: 10px; padding-left:7px; height: 32px; height:32px\9; line-height: 2; /*width: 100%;*/ margin-top:20px;}

/*----sitemap---*/
.sitemap_left { font-size: 0.9em; position: absolute; top: 20px; right: 10px;}
.sitemap_left ul { color:#333; padding: 0 0 0 25px; margin-top:0px; }
.sitemap_left ul li { color:#333 ; display: inline; }
.sitemap_left ul a { width: auto; color:#026c96; text-decoration: none; position: relative; top: 0; }
.sitemap_left ul a:hover{ color:#F60;}
.sitemap_Center{ padding-right:10px;}

/*-----上下頁按鈕-----*/
.ButtonStyle_back { width: 85px; height: 25px; background: url(../images/page_b02.jpg) no-repeat; line-height: 2; color: #4a4a4a; }
.ButtonStyle_back a { display: block; width: 85px; height: 25px; padding-left: 20px; color: #4a4a4a; text-decoration: none; }

.ButtonStyle_top { width: 85px; height: 25px; background: url(../images/page_b03.jpg) no-repeat; line-height: 2; color: #4a4a4a; }
.ButtonStyle_top a { display: block; width: 85px; height: 25px; padding-left: 20px; color: #4a4a4a; text-decoration: none; }

.ButtonStyle_home { width: 85px; height: 25px; background: url(../images/page_b01.jpg) no-repeat; line-height: 2; color: #4a4a4a; }
.ButtonStyle_home a { display: block; width: 85px; height: 25px; padding-left: 20px; color: #4a4a4a; text-decoration: none; }

/*------Content_List------*/
.data_midlle_service { display: block; font-weight: normal; padding: 10px 0 0 0; }
.data_midlle_service ul { padding: 0 8px 15px 25px; font-weight: normal; font-size:1.1em; }
.data_midlle_service ul li { display: block; float: left; color: #0d7398; line-height:2; background: url(../images/datamiddle_icon2.png) no-repeat 0 1px; background: url(../images/datamiddle_icon2.png) no-repeat 0 2px \9; padding: 0px 0px 5px 20px; }
.data_midlle_service ul li a {/*font-family:"微軟正黑體";*/ color: #0d7398; text-decoration: none; font-weight: normal; }

/*-------data_midlle_news 新聞列表---------*/
.data_midlle_news { font-size: 1em; color: #333; overflow: hidden; padding-bottom: 10px; letter-spacing: 0.1em;}
.data_midlle_news ul{ -webkit-padding-start: 0px; position: relative; z-index: 0; list-style: none; padding-left: 0; margin: 0;}
.css_tr { width:100%;}
.css_tr td { padding: 5px;}
.css_tr2 td ul li{ border-bottom: none; padding: 5px 5px 5px 25px; vertical-align: text-top;  background: url(../images/CountryICon.png) no-repeat 10px center;}
.data_midlle_news .css_tr2 tr{border-bottom: none;}
.css_title { background-color:#155498 /*#6394AB*/; border-bottom: 2px solid #CCC; line-height:33px; color: #FFF; font-size:1.1em; font-weight: bold; letter-spacing: 0.2em; padding: 5px; text-align: center; }
.css_title th{ border-left:1px dotted #FFF;}
th.H15 { border-left: none;}

.data_midlle_news_box01 { display: block; margin-right: 10px; margin-top: 0px; }
.data_midlle_news_box01 dt { display: block; color: #08254B; line-height: 1.6; font-size:1.5em; font-weight: bold;}
.data_midlle_news_box01 dd { display: block; line-height:2; padding-bottom: 15px; font-size: 0.9em; color:#999; margin: 0;}

.data_midlle_news_box02 { text-align: justify; word-wrap: break-word; color:#000 ; line-height: 1.8em; background: url(../images/new_line01.jpg) no-repeat center bottom; margin-bottom: 10px; font-size: 1em;  margin-top: 10px; font-family:"微軟正黑體", Arial, Helvetica, sans-serif;}
.data_midlle_news_box02 table{ border-collapse:collapse; border:1px solid #999; width:100%;}
.data_midlle_news_box02 table tr th{ border:1px solid #999; padding:5px 10px; background-color:#E1EAF1;}
.data_midlle_news_box02 table tr td{ border:1px solid #999; padding:5px;}

.data_midlle_news_box03 { display: block; margin: 0 auto; color: #666; line-height: 1.7; padding: 0px 25px 20px 0px; background: url(../images/new_line01.jpg) no-repeat center bottom; }

a.fancybox-buttons img { padding: 2px; border: solid 1px #CFCFCF; }

.red01 { color: #035B85; text-decoration: none; font-size: 1em; line-height: 1.7; }

.gray01 { color: #707070; text-decoration: none; font-size: 1em; line-height: 20px; float: left; line-height: 1.7em; letter-spacing: 1px;}

.news_box03_data { margin: 0 10px 10px 10px; overflow: hidden; }
.news_box03_data ol li a { color: #0d7398; display: block; /*float: left;*/ padding: 5px 5px; text-decoration: none; font-size:1em; line-height:1.6em; }

.news_box03_img { margin: 10px; }
.news_box03_img li { float: left; margin-right: 10px; width:100px; height:205px; margin-bottom:10px; overflow:hidden;}
.news_box03_img ol li a{ display:block; margin-bottom:5px;}
.news_box03_img ol li p{line-height:1.3em; margin-bottom:10px;}

.news_box03_mv li { margin-right: 10px; float: left; }

/*首長簡介*/
.MofaLeaderUrlLink { overflow: hidden; margin-bottom: 10px; }
.MofaLeaderUrlLink img { float: left; margin-right: 7px; }
.Edu { width: 210px; height: 180px; float: left; padding: 10px; background-color: #b19565; }
.Edu ul li { color: #FFF; margin: 10px; }

.contT1 { clear: both; padding: 10px; background-color: #FFFFFF; display: block; border: 1px solid #DDD; margin-bottom: 15px;}
.contT1 h2 { background-color: #7A7A7A; padding: 5px; font-size: 1.2em; font-weight: 700; color: #FFF; }
.contT1 ul li { border-bottom: 1px dotted #CCC; padding: 8px; color: #004080; line-height: 1.5;}
.contT1 ul li span { font-size: 0.9em; margin-left: 10px; color: #8D8D8D; }

.Title { font-size: 1.1em; color: #FFF; margin: 10px 0; }

.Name { font-size: 1.2em; color: #255dae; margin: 5px 0; padding-bottom:5px; font-weight:bold; border-bottom:1px dotted #CCC;}

.en_Name { font-size: 1em; color: #CACACA; margin: 5px; font-family: Georgia, "Times New Roman", Times, serif; }

.Date { color: #000; font-size:1.1em; line-height:1.6em; }
.Post_Date, .Post_Department {
display: block;
line-height: 1.5;
text-align: right;
}

/*----------------------主題專區_ 版型01--------------------------*/
.theme_wrapper_01 {  }
.theme_wrapper_01 h4 { color: #073f7c; font-size: 1.3em; line-height: 2.2; border-bottom: 1px solid #CCC; font-weight: bold; }
.theme_wrapper_01 .tbanner {background-repeat: no-repeat;margin-bottom: 15px;  }
.theme_wrapper_01 img { /*width: 100%*/ ;border-bottom: 1px solid #fff; }
.theme_wrapper_01 .info { border: 6px solid #f2eeee; }
.theme_wrapper_01 .info h5 { margin: 5px 0 10px; color: #0e8abb; font-size:1.2em; line-height: 2.2; border-bottom: 1px solid #CCC; font-weight: bold; border-bottom: 1px solid #0e8abb; padding-left: 25px; background-image: url(../images/icon_ti_02.png); background-position: 5px; background-repeat: no-repeat; }
.theme_wrapper_01 .info p { margin: 20px 15px; line-height: 1.7; color: #333; }
.theme_wrapper_01 .three {margin-top: 10px; font-size: 0.8em; }
.theme_wrapper_01 ul {}
.theme_wrapper_01 ul li { float: left; }
.theme_wrapper_01 ul li .colum { min-height: 357px; background-color: #efefef; float: left;}
.theme_wrapper_01 ul li .colum h6 { width: 205px; background-image: url(../images/tt_bg.png); background-repeat: no-repeat; color: #FFF; font-size: 15px; line-height: 30px; display: block; padding-left: 10px; font-weight:normal; }
.theme_wrapper_01 ul li .colum img { width: 180px; height: 107px; padding: 8px 0; display: none; }
.theme_wrapper_01 ul li .colum ul { padding-left: 1px; }
.theme_wrapper_01 ul li .colum dl dt { border-bottom: 1px dotted #999; background-image: url(../images/icon_theme.png); background-repeat: no-repeat; padding: 5px 5px 5px 20px; list-style: none; background-position: 3px 8px; line-height: 1.3; }
.theme_wrapper_01 ul li .colum dl dt a { color: #333; text-decoration: none; font-size:1.3em; }
.theme_wrapper_01 ul li .colum dl dt a:hover { color: #1b80a7; text-decoration: none; }

/*----------------------主題專區_ 版型02--------------------------*/
.theme_wrapper_02 { }
.theme_wrapper_02 h4 { color: #073f7c;  font-size: 1.3em; line-height: 2.2; border-bottom: 1px solid #CCC; font-weight: bold; }
.theme_wrapper_02 .tbanner {background-repeat: no-repeat; margin-bottom: 15px; }
.theme_wrapper_02 img { border-bottom: 1px solid #fff; }
.theme_wrapper_02 .info { border: 6px solid #f2eeee; }
.theme_wrapper_02 .info h5 { color: #0e8abb; font-size: 1em; line-height: 2.2; border-bottom: 1px solid #CCC; margin: 5px 15px; font-weight: bold; border-bottom: 1px solid #0e8abb; padding-left: 25px; background-image: url(../images/icon_ti_02.png); background-position: 5px; background-repeat: no-repeat; }
.theme_wrapper_02 .info p { margin: 20px 15px;line-height: 1.7; color: #333; }
.theme_wrapper_02 .three { margin-top: 10px; font-size: 0.8em; }
.theme_wrapper_02 ul {}
.theme_wrapper_02 ul li {float: left; margin: 5px 8px; }
.theme_wrapper_02 ul li .colum { min-height: 70px; float: left; margin: 10px 5px; }
.theme_wrapper_02 ul li .colum h6 { height: 30px; padding-left: 25px; font-size: 1.1em; line-height: 1.6; font-size: 15px; border-bottom: 1px solid #0e8abb; color: #0e8abb; background-image: url(../images/icon_ti_02.png); background-repeat: no-repeat; }
.theme_wrapper_02 ul li .colum img {height: 107px; padding: 8px 0; display: none; }
.theme_wrapper_02 ul li .colum ul { padding-left: 1px; }
.theme_wrapper_02 ul li .colum dl dt { border-bottom: 1px dotted #999; background-image: url(../images/icon_theme.png); background-repeat: no-repeat; padding: 5px 5px 5px 20px; list-style: none; background-position: 3px 8px; line-height: 1.3; }
.theme_wrapper_02 ul li .colum dl dt a { color: #333; text-decoration: none; font-size:1.3em;}
.theme_wrapper_02 ul li .colum dl dt a:hover { color: #1b80a7; text-decoration: none; }


/*----------------------主題專區_ 版型03--------------------------*/
.theme_wrapper_03{ }
.theme_wrapper_03 .tbanner{ /* height:218px; background-image:url(../images/theme_bannerbg.png); background-repeat:no-repeat;*/ }
.theme_wrapper_03 .tbanner img{ padding:5px; border-bottom:1px solid #fff; }
.theme_wrapper_03 .info{ }
.theme_wrapper_03 .info h5{ color:#064884; font-size:1em; line-height:2.2; border-bottom:1px solid #999; font-family:"新細明體","微軟正黑體" ; font-weight:bold;  padding-left:25px; background-image:url(../images/icon_ti_02.png); background-position: 5px; background-repeat:no-repeat;}
.theme_wrapper_03 .three{ background-size: contain; min-height:420px; margin-top:10px; background-image:url(../images/list_topbg.png);  background-repeat:no-repeat;}
.theme_wrapper_03 .three ul{ background-size: contain; min-height:475px;background-image:url(../images/list_downbg.png); background-position:bottom;  background-repeat:no-repeat; }
.theme_wrapper_03 .three ul li{float:left; padding:10px; box-sizing: border-box;}
.theme_wrapper_03 .three ul li .colum{ width: 100%; height: auto;float:left; margin: 10px 5px;}
.theme_wrapper_03 .three ul li .colum h6{ height:40px ;padding-left: 45px; font-size:1.1em; line-height:2.5; font-weight:bold;  color:#064884;  background-image:url(../images/colum_ti_03a.png); background-repeat:no-repeat; font-family:"新細明體","微軟正黑體" }
.theme_wrapper_03 .three ul li .colum img{ display:none; }
.theme_wrapper_02 .three ul li .colum ul{padding-left: 1px;
}
.theme_wrapper_03 .three ul li .colum dl{ padding-top:5px;}
.theme_wrapper_03 .three ul li .colum dl dt{border-bottom:1px dotted #999;  background-image:url(../images/icon_theme.png); background-repeat:no-repeat ; padding:5px 5px 5px 20px;list-style:none; background-position: 3px 8px; line-height:1.3  }

.theme_wrapper_03 .three ul li .colum dl dt a{ color:#333; text-decoration:none;}
.theme_wrapper_03 .three ul li .colum dl dt a:hover{ color:#1b80a7; text-decoration:none;}

/*----------------------主題專區_ 版型04--------------------------*/
.theme_wrapper_04{ }
.theme_wrapper_04 .tbanner{  /*height:218px; background-image:url(../images/theme_bannerbg.png); background-repeat:no-repeat;*/ }
.theme_wrapper_04 .tbanner img{ padding:5px; border-bottom:1px solid #fff; }
.theme_wrapper_04 .info{ border:3px solid #f2eeee;}
.theme_wrapper_04 .info h5{ font-size: 1em; color:#9e6e03; margin:5px 15px; line-height:2.2; font-weight:bold;  padding-left:15px;margin-top:10px; border-bottom:2px solid #b4a595;background-image:url(../images/icon_info_4.png); background-repeat:no-repeat;}
.theme_wrapper_04 .info p{margin:20px 15px; line-height:1.7; color:#333;}
.theme_wrapper_04 .three ul{ width:100%; float:left}
.theme_wrapper_04 .three ul li{float:left;  }
.theme_wrapper_04 .three ul li .colum{  float:left; margin: 5px 5px;}
.theme_wrapper_04 .three ul li .colum h6{ height:30px ;padding-left: 12px; font-size:1.1em; line-height:1.7em; font-weight:bold; color:#9e6e03; }
.theme_wrapper_04 .three ul li .colum img{ display:none;}
.theme_wrapper_04 .three ul li .colum ul{}
.theme_wrapper_04 .three ul li .colum dl dt{width:100%; box-sizing: border-box; border-bottom:1px dotted #999;  background-image:url(../images/icon_colum_4.png); background-repeat:no-repeat ; padding:5px 5px 5px 25px;list-style:none; background-position: 6px 8px; line-height:1.2  }

.theme_wrapper_04 .three ul li .colum dl dt a{ color:#333; text-decoration:none;}
.theme_wrapper_04 .three ul li .colum dl dt a:hover{ color:#847341; text-decoration:none; }


/*----------------------主題專區_ 版型05--------------------------*/
.theme_wrapper_05{ }
.theme_wrapper_05 .tbanner{ /*height:218px; background-image:url(../images/theme_bannerbg.png); background-repeat:no-repeat; */}
.theme_wrapper_05 .tbanner img{ border-bottom:1px solid #fff; }
.theme_wrapper_05 .three{ width: 100%; margin-top:10px;}
.theme_wrapper_05 .three ul{ width: 100%; float:left}
.theme_wrapper_05 .three ul li{float:left;  }
.theme_wrapper_05 .three ul li .colum{  float:left; margin: 5px 5px; background-image:url(../images/colum_ti_05.png);  background-repeat:no-repeat;}
.theme_wrapper_05 .three ul li .colum h6{ height:30px ;padding-left: 55px; font-size:1.1em; line-height:2; font-weight:bold; color:#9e6e03; }
.theme_wrapper_05 .three ul li .colum ul{
}
.theme_wrapper_05 .three ul li .colum dl dt{ width: 100% ;box-sizing: border-box; border-bottom:1px dotted #999;  background-image:url(../images/icon_colum_5.png); background-repeat:no-repeat ; padding:5px 5px 5px 55px;list-style:none; background-position: 28px 8px; line-height:1.2  }

.theme_wrapper_05 .three ul li .colum dl dt a{ color:#333; text-decoration:none;}
.theme_wrapper_05 .three ul li .colum dl dt a:hover{ color:#847341; text-decoration:none; }


/*----------------------訂閱電子報--------------------------*/
.epaper{ margin:10px;}

.orderepaper{ border:1px solid #CCC; margin-bottom:15px;}
.orderepaper h4{ font-size:17px; color:#FFF; line-height:1.8em; background:url(../images/title_bg01.png) no-repeat; display:block; height:30px; padding-left:10px; font-weight:normal;}
.orderepaper p{ font-size:15px; color:#F00; padding-left:10px; margin:10px 0 10px 0;}
.infbox{ background-color:#EBF0FF; margin:5px;}
.information01{ margin:5px 0; border-top:2px solid #FFF;}
.information01 dl{ overflow:hidden;}
.information01 dl dt{ font-size:13px; color:#053C75; width:110px; float:left; line-height:2em; text-align:right; padding-top:5px;}
.information01 dl dd{ font-size:13px; width:480px; float:left; padding-top:5px;}
.information01 dl dd span{ display:inline-block; padding-bottom:5px; line-height:2em; padding-right:70px; position:relative;}
.information01 dl dd span a{ text-decoration:none; color:#F60;}
.information01 dl dd span a:hover{ text-decoration:underline;}
span .des{}
.btnarea{ clear:both; width:100%; text-align:center; padding-top:5px; height:35px;}
.btn, .ButtonStyle{padding:0 8px; border:1px solid #B2B2B2;  height:22px;background:url(../images/abtn_bg.jpg) repeat-x; margin-top:2px;cursor:pointer;}
.btn, .ButtonStyle{border:1px solid #6D6F6C \9;margin-top:0px \9;padding-top:2px \9;*+height:22px;*+margin-top:1px;*+padding-top:2px;*+padding-right:0px;*+padding-left:0px;/**+border:1px solid #FFF;*+width:55px;*/}
.btn:hover, .ButtonStyle:hover{ background-image:url(../images/abtn_bg_hover.jpg); color:#036;}
.epaper #ContentPlaceHolder1_UpdatePanel1{ position:absolute; top:-13px; top:-25px \9;}
.epaper input[type="text"]{ width:300px;}


/*----------------------相關連結-純文字link2---------------------------*/
.data_midlle_link2{ padding:10px 0 0 10px;}
.data_midlle_link2 ul{background: url(../images/link_bg01.png) no-repeat right bottom;}
.data_midlle_link2 ul li{/*float: left; width:220px;*/}
.data_midlle_link2 ul li a{
    color:#034F82;  
	text-decoration:none; 
    padding: 10px 0px 10px 45px;  
	display: block;  
    /*border: 1px solid #CCC;*/  
	margin-right: 10px;  
	margin-bottom: 10px;  
	-webkit-border-radius: 5px;  
	-moz-border-radius: 5px;  
	border-radius: 5px;
    font-size: 1.1em;
	background:url(../images/epaper_icon.png) no-repeat left center;
	font-family:Arial;
}
.data_midlle_link2 ul li a:hover{color: #FFFFFF;  position: relative;  bottom: 1px;  background-color: #034F82; /*border: 1px solid #034F82;*/}
.data_midlle_link_img{}
.data_midlle_link2 object{ display:none}
.data_midlle_link2 p{display:none;}
.data_midlle_link2 b{display:none;}
.data_midlle_link2 br{ display:none;}
.data_midlle_link2 h4{ display:none;}

/*----------------------------線上申請課程--------------------------------------*/
.act_table{margin-top: 30px;}
/*.active {margin-right: 20px;margin-left: 10px;margin-top: 20px;}
.active .act_tit {font-size: .9em;color: #F60;}
.active  tr {line-height: 30px;}
.active .date {margin: 5px;}
.active .date a{margin: 5px;color: #333;font-size: 1em;text-decoration: none;}
.active .date a:hover{color: #F60;	}*/
.item {color: rgb(10, 123, 181);}
.common.event {margin: 10px;}
.event_intro h2 {font-size: 1.2em;font-weight: bold;color: #BB8F02;margin-bottom: 20px;padding-top: 10px;}
.event_intro ul li {font-size: 0.9em;color: #069;}
.event_content {margin: 20px 10px 10px;font-size: 0.9em;color: #333;line-height: 24px;}
.common a.button {/* margin: 10px; */text-decoration: none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding: 5px;display: block;
	width: 100px;color: #FFF;background-color: #727272;margin: 10px;}
.common a.button:hover {background-color: #868686;color: #FFF!important;text-decoration: none;}
.common.register h4{font-size: 1.2em;color: #069;margin-bottom: 10px;}
.reg_tr {line-height: 40px;color: #666;margin-bottom: 10px;font-size: 1em;padding-left: 20px;}
.common.complete p {font-size: 1em;color: #960;margin-bottom: 10px;}
.common.complete h3 {margin-bottom: 20px;}
.comp_chk{background: rgb(245, 243, 236) url(../images/holiday_logo.png) no-repeat right bottom;
filter:alpa(opacity=80);   /* old IE */
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80,FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0,FinishY=16); /*supported by current IE*/
-moz-opacity:0.8;/* Moz + FF */opacity:0.8; /* 支持新版瀏覽器 */padding: 20px;-moz-border-radius: 10px;-webkit-border-radius:10px;border-radius:10px;
	margin-bottom: 30px;margin-right: 10px;}
.comp_chk h3{font-size: 1.1em;color: rgb(71, 71, 71);text-align: left;}
.comp_chk ul li {color: rgb(13, 115, 159);margin-left: 20px;font-size: 1.1em;padding-left: 10px;line-height: 24px;background: url(../images/index_78.gif) no-repeat 0px 10px;}
.status_bar {color: rgb(5, 65, 181);font-size: 1em;position: absolute;top: 10px;left: 10px;background: url(../images/user_ico.gif) no-repeat 0px 0px;height: 40px;padding-left: 40px;padding-top: 5px;}

.inquiry_detail {margin-right: 20px;margin-top: 10px;}
.inq_tab tr th {color: rgb(91, 91, 91);background: rgb(245, 245, 245);text-align: center;font-size: 1em;line-height: 40px;border-bottom: 1px solid #CCC;}
.inq_tab tr {color: #333;text-align: center;font-size: 1em;line-height: 40px;background: #FFF;border-bottom: 1px solid #CCC;}
.inq_tab input {background: #CCC;border-style: none;padding: 5px;color: rgb(255, 255, 255);margin-right: 5px;}
.inq_tab input:hover {background: #666;border-style: none;padding: 5px;color: rgb(255, 255, 255);}
.common.login{background: url(../images/Survey_bg.png) no-repeat 43px 56px;}
.common.login p {font-size: 1.2em;color: #960;margin-bottom: 10px;line-height: 1.5;margin: 10px;}
.common.login .ta1 {
    margin-left: 160px;
    /* background-color: #EEE; */
    width: 470px;
}
.common.login .ta1 th {
	text-align: right;
	width: 70px;
	color: #525252;
	padding-right: 10px;
	font-size: 1.1em;
	vertical-align: top;
	padding-top: 7px;
}

.common.register {
    padding: 30px;
    
    margin-right: 10px;
	
    background: rgb(248, 248, 248);
    margin-top: 20px;
    -moz-border-radius: 10px; -webkit-border-radius:10px; border-radius:10px;
}
.ta1 tr{

	height: 30px;
	

}
.ta1 span {
	color: #666768;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	line-height: 24px;
}
.lost {
	color: #F90;
}
#ContentPlaceHolder1_imgTitle{display:none;}

/*加入會員成功*/
.common.logok p {
line-height: 1.7;
}

/*-------------------申請課程查詢--------------------------------------*/
.data_midlle_Schedule_box{
	width: 100%;
	padding: 10px;
	display:block;
	float:left;
	border: 5px solid #E0E0E0;
	box-sizing: border-box;
	background-color: #F7F7F7;
}
.data_midlle_Schedule_box table{ line-height:220%; }
.data_midlle_Schedule_box th{  color:#393939; font-weight:normal;  vertical-align: top;  padding-right: 10px;}
.data_midlle_Schedule_box span{color: #FF0000; }		


/*-------------------申請課程查詢--------------------------------------*/
.data_midlle_Schedule01_box{
	width:94%;
	margin:10px 30px;
	padding:15px 0px 30px 0px;
	display:block;
	float:left;
	border:1px dashed #CCC;
	background:url(../images/web_bg.jpg)  right center no-repeat;
			}
.data_midlle_Schedule01_box table{ line-height:220%; width:100% }
.data_midlle_Schedule01_box th { width:200px;  color:#393939; font-weight:normal;}
.data_midlle_Schedule01_box span{ display:block; background:url(../images/data_midlle_Schedule01_box.jpg); background-repeat:repeat-x; with:100px; padding:10px;}		
.data_midlle_Schedule_box td {
    padding: 0;
    vertical-align: middle;
}
.data_midlle_Schedule_box td span {
    float: left;
    color: #0778A3;
}

/*----------------------部長公開行程-----------------------*/
.headman_list {
    margin-right: 10px;
}
.headman_list .selecter {
	background-color: #C9E8F0;
	padding: 5px 0 5px 10px;  
	border-bottom: 1px solid #FFF;    
}
.headman_list .list {
}
.list th {
	color: #FFF;
	background: #155498/*#8A8A8A*/;
	font-size: 1.1em;
	padding: 10px;
	border-left: 1px solid #FFF;
}
.list th:first-child{border-left: 0px solid #FFF;}
.headman_list .list td {
	padding: 5px;
	border: 1px solid #8A8A8A;

	line-height: 1.5;
	color: #5C5F5F;
	font-size: 1em;
}
.headman_RelFile {
	margin-right: 10px;
	margin-left: 10px;

}
.headman_RelFile li a {
	color: #09C;
}
.headman_RelFile li {
	margin-bottom: 10px;
}
.selecter .travel_searchbtn {
	background-color: #5F5F5F;
	background-image: none;
	padding: 5px 15px;
	border: 1px solid #666;
	color: #FFF;
	margin-left: 10px;
	-webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;
	cursor: pointer;
}
.selecter .travel_searchbtn:hover{background-color: #DB9B13;border: 1px solid #FFF;}
.selecter input {
   background-color: #FFF;
background-image: none;
padding: 3px;

   border: 1px solid #B1B1B1;
color: #111;
margin-left: 0px;
   cursor: pointer;
}


/*雙語*/
.holder {
	margin: 15px 0;
text-align: center;
}

.holder a {
	font-size: 0.9em;
	cursor: pointer;
	padding: 5px 10px;
	color: #333;
	background-color: #fff;
	border: 1px solid #b4b4b4;
	margin-right: 5px;
}

.holder a:hover {
	background-color: #99b4ce;
	color: #fff;
}

.holder a.jp-previous {
    background-color: #f8fcff;  color: #FFF;
 
    margin-right: 10px;
}
.holder a.jp-next {
    background-color: #f8fcff;
    color: #054581;
    margin-left: 5px;
}

.holder a.jp-current, a.jp-current:hover { 
	color: #FFFFFF;
	font-weight: bold;  
	background-color: #054581;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #054581;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
}

.holder span { margin: 0 5px; }

.data_midlle_glossary table {
    width: 100%;
    /*background-color: #E7E7E7;*/
    color:#333;
}
.data_midlle_glossary table th{
    padding: 10px;
    text-align: center;
    background-color: #ececec;
    border: 1px solid #d7d7d7;
    border-bottom: 3px solid #BDBDBD;
    color: #252525;
}
#data td {
    padding: 10px;
    /*background-color: #FFF;*/
    /*border: 1px solid #d7d7d7; */
    color:#333 !important;
}
#data tr td a{
    padding: 10px;
    color:#333 !important;
    text-decoration: none;
}
#data tr td a:hover{
    padding: 10px;
    color:#0A00FF !important;
    text-decoration: none;
}
#data td:link
        {
            color: #000000;
        }
#data td:visited
        {
            color: #FF0000;
        }
#legend1 {
    margin: 10px;
    text-align: center;
    color: #A29898;
    font-size: 0.8em;
}
.newsSearchBox {
    padding: 10px;
    background-color: #edf2f8;
}
.newsSearchBox dl {}
.newsSearchBox dt {float: left; margin-top: 7px;}
.wordSearchBox span {overflow: hidden;}
.wordSearchBox span:hover {background-color: #9C9C9C;}
.wordSearchBox div {overflow: hidden;}
.wordSearchBox span a {
    color: #333;
	float: left;
	display:block;
	height:33px;
	width:32px;
	text-align:center;
	line-height:2em;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight:bold;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	background:url(../images/key_bg.png) no-repeat center center;
}
.wordSearchBox span a:hover {color: #034F82; background:url(../images/key_bg_hover.png) no-repeat center center;}

.SearchButton {text-align: center;}
.textInput {
    background-color: #FFFFFF;
    border: 1px solid #D4D0D0;
    height: 25px;
    box-shadow: 0px 0px 5px #CCC4C4;
}

/*----------------------RSS---------------------------*/
.data_top_info{ margin:0 10px 10px 10px; padding-bottom:10px; border-bottom:1px dotted #CCC;}
.data_midlle_rss{padding: 10px;}
.data_midlle_rss ul{}
.data_midlle_rss br{display:none;}
.data_midlle_rss ul li {float:left; width:220px;}
.data_midlle_rss ul li:hover{}
.data_midlle_rss ul li a{font-size: 1.2em; font-family: Arial; color: #336699; text-decoration:none;background: url(../images/l_rss.png) #FFF no-repeat 4px 10px; padding: 10px 10px 10px 25px;display: block; /*border: 1px solid #F90;*/ margin-right: 10px;margin-bottom: 10px;-webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;}
.data_midlle_rss ul li a:hover{color: #FFF; position:relative; bottom:1px; background-color: #F90; background: url(../images/l_rss_hover.png) #F90 no-repeat 4px 10px;}
.data_midlle_rss span{ color:#336699;}

.data_midlle_rss_ex{ clear:both; padding:0 25px;}
.data_midlle_rss_ex h5{display:block; color:#0d7398;font-size:1em; padding:0 0 7px 0;  }
.rss_ex01{ font-size:1em; color:#CCC; width:320px; border-right:#CCC solid 1px; }
.rss_ex02{ font-size:1em; color:#CCC; width:180px; }
.rss_ex03{}

/*------------------歷任部長年表-------------------*/
.chronology .list img{width:88px;height:110px;margin-right: 10px;padding: 3px;/* border: 1px solid #9E9E9E; */background-color: #D5D2D2;}
.chronology .list{overflow:hidden;margin: 10px;}
.cheifBoxT{background-color: #888;
padding: 5px;
line-height: 1.3;
background: #0C689C;
color: #FFF;
float: left;
text-align: center;-webkit-border-radius: 2px;  -moz-border-radius: 2px;  border-radius: 2px;}
.cheifBoxdes{padding: 5px;
background: #F0F0EE;

float: left;
font-weight: 700;
font-size: 123.1%;width: 172px;color: #036/*#008294*/;}
.text{display:block;float: left;margin-left: 0px;margin-top: 10px;width: 200px;}
.text li{line-height:1.5;border-bottom: 1px dotted #D8D8D8;padding: 2px;font-size: 11px;color: #4E4E4E;}
.text li span {
    color: #1281AC;
    font-size: 1.2em;
}

/*---------------------快速跳頁(樣式藍字)----------------------------*/
.list_gotopage_b{ width: 100%; display: inline-block; text-align:center; color: #666; line-height:1.7; position:relative; z-index: 0; margin: 10px auto;}
.list_gotopage_b a{	color:#014f92; line-height:1.7; text-decoration:none;	}
.list_gotopage_b table tr td{ border-bottom: none;}

/*快速跳頁按鈕*/
.list_gotopage_b a { line-height: 1.7; text-decoration: none; }

/*---------------------快速跳頁(有單元查詢的)----------------------------*/
.list_gotopage_news{ display:block; text-align:center; color: #666; line-height:1.7; padding:5px 0 25px 0px; position:relative; width:100%;}
.list_gotopage_news table{}
.list_gotopage_news a{	color:#014f92; line-height:1.7; text-decoration:none;	}


/*-----------------------------------問卷調查-----------------------------------------*/
.data_midlle_qa{ font-size: 1em; color: #333; padding-right:10px; overflow: hidden; padding-bottom: 10px; letter-spacing: 0.1em;}
.data_midlle_qa table{background:url(../images/bbg2.png) no-repeat right bottom;margin-bottom:10px;padding:10px 0 0 0;}
.data_midlle_qa tr th{background-color: #155498; border-bottom: 2px solid #CCC; line-height:33px; color: #FFF; font-size:1.1em; font-weight: bold; letter-spacing: 0.2em;  text-align: center;border-left:1px dotted #FFF;}
.data_midlle_qa td{border-bottom: #d4d2d2 solid 1px; padding: 5px;}
.data_midlle_qa td a{
	background-image: url(../images/j_icon.png);
	background-repeat: no-repeat;
	display: block;
	padding-left:30px;
	background-position:5px;
	text-align: left;
	color:#604C3F;
	letter-spacing: 0.1em;
	text-decoration: none;
	line-height: 1.7;
	font-family:"新細明體", Arial, Helvetica, sans-serif;
}
.data_midlle_qa td  a:hover { /*position:relative; top:1px; left:1px;*/ color:#097EC0;}
.data_midlle_qa p {
	font-size: 0.7em;
	color: #666;
	margin: 10px;
}

.data_midlle_qa span{ color:#069; margin-left: 5px;}
	
.data_midlle_qa span span {
    line-height: 30px;
}
.data_midlle_qa2{
	margin:10px 20px;
	padding:0px;
}
.data_midlle_qa_quesoption table tr{ border-bottom:1px dotted #CCC;}
.data_midlle_qa2 h3{
    color:#000;
	
    font-size: 1.1em;
}

.data_midlle_qa_box{
	display:block;
	float:left;
	padding:0; /*jovi 0621;*/
	word-break:break-all;
	line-height:180%;
	color:#2a2a2a;
	margin:0 15px; /*jovi 0621 */
	/*margin-top: 40px;*/
	color: #333;
	font-size: 1.1em;
	line-height: 24px;
}
.data_midlle_qa_box p{ font-size:1em; color: #609; margin: 10px;}	
.data_midlle_qa_box img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.data_midlle_qa_box tr{
	color:#333;
	font-size: 1.1em;
	line-height: 24px;
	margin-bottom: 30px;
}

.data_midlle_qa_box th {
	color:#333;
	font-size:0.9em;
	padding:5px 0;
}

.data_midlle_qa_title{ 
	overflow: hidden;
    /*width:750px;*/
	background:url(../images/news_line.jpg) repeat-x bottom; 
	font-size:1.2em; 
	line-height:1.6; 
	font-weight:bold;
	padding-bottom:10px;
	margin:0 10px;
	color: #036;
			
}

.data_midlle_qa_ok{
	background: url(../images/qa_thank.jpg) no-repeat center top;
	/*width:555px;*/
	height:343px;
	/*line-height:180%;*/
	margin: 40px auto;
}
/*步驟標題-------*/
.periodical_menu{margin-bottom: 20px;}
.periodical_menu ul li {
display: block;
float: left;
line-height: 1.5;
padding-left: 3px;
color: #B1B1B1;
font-size: 1.2em;
background-position: 85px 24px;
padding: 10px;
background-color: #EBEBEB;
margin-right:10px;
font-family: /*"微軟正黑體",*/Arial, Helvetica, sans-serif;
border:none 0px #000000;
/*behavior:url(js/pie.htc); */  
-moz-border-radius:4px;   
-webkit-border-radius:4px; 
border-radius:4px;
}
.periodical_menu ul li span {
display: block;
float: left;
color: #999;
font-size: 0.8em !important;
margin: 0 30px 0 0;
display: none;
}

.periodical_menu ul {
display: block;
overflow: hidden;
padding: 0 15px 0 10px;
margin-top: 10px;
overflow: hidden;
}
.periodical_menu .periodical_menu_yes {
	/*behavior:url(js/pie.htc);*/
	-moz-border-radius:4px;   
	-webkit-border-radius:4px; 
    border-radius:4px;
	background: #a1cf0c; 
}
.periodical_menu_yes b {
	color: #FFF;
	/*font-family: "微軟正黑體", Arial, Helvetica, sans-serif;*/
	font-weight: bold;
}
.data_midlle_qa_questitle {
    color: #336;
    font-size:1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
	margin-left: 0px;
}
.data_midlle_qa_quesoption span {
    color:#F30;
    line-height:24px;
	font-size:1.1em;
	margin-left:5px;
}

.data_midlle_qa_quesoption label{
    margin:0px 15px 0 0;
}

.data_midlle_qa_quesoption textarea{ width: 500px;}
.red01{color:#F00;}


/*----------------------------------------線上投票------------------------------------------------------------------------*/
.data_midlle_vote_button{
	clear:both; 
	display:block;
	padding:10px 0px 15px;
	color:#FFF;
	height:auto;
	margin:0px auto;
	text-align: center;
	width:100px;
}			
.data_midlle_vote{
	display:block;
	margin:0 10px 0 0;
	padding-bottom: 10px;
}
.data_midlle_vote input{ background:#6656;}
.data_midlle_vote ul{display:block;}
.data_midlle_vote ul li{
	color:#333;
	line-height:4;
	display: block;
	background-image: url(../images/j_icon.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px 18px;
	background-position: 0px 18px\9;
	border-bottom: #d7d7d7 dotted 1px;
	width:655px;
}
.data_midlle_vote ul li  a:link{width:100%;color:#000000;line-height:240%; text-decoration:none;}
.data_midlle_vote ul li  a:visited{width:100%;color:#000000;line-height:240%; text-decoration:none;}
.data_midlle_vote ul li  a:hover{width:100%;color:#9c2626;line-height:240%; position:relative; bottom:1px; }
.data_midlle_vote span{	color:#666;	font-size:1em;	line-height:240%;	}
.data_midlle_vote_title{
	height:51px;
	/*background:url(../images/news_line.jpg) repeat-x bottom;*/
	background:url(../images/vote_icon.png) no-repeat left center;
	padding-left:55px;	
	font-size:1.2em;
	line-height:3;
	font-weight:bold;
	margin:0 10px 0 0;	
	color: #578004;
	border-bottom:3px solid #CCC;	
}
.data_midlle_vote_box td{ line-height:280%; margin:0 auto;}
.data_midlle_vote_ok{
	background: url(../images/thank.jpg) no-repeat center top;
	width:350px;/*355px; --0703 jovi*/
	min-height:100px;
	margin:60 auto 0;
	padding:120px 260px 0px 60px;
	text-align:center;
	line-height:180%;
}
.data_midlle_vote_ok a{
	text-indent:-10000px;
	background: url(../images/b001.png) no-repeat;
	display: block;
	height: 40px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
}
.data_midlle_vote_end { 
	display:block;
	width:675px;
	float:left; 
	line-height:280%; 
	/*margin:0 25px;*/
	padding:0; 
}

.data_midlle_vote_end span{ margin-top: 20px;}	
.data_midlle_vote_end th{ color:#666; /*background: #ececec;*/ border-bottom: #CCC  solid  1px; padding-right: 10px;}
.data_midlle_vote_end td{ border-bottom: #CCC  solid  1px; /*width:675px !important;*/}
.data_midlle_vote_end table{ display:block; margin-top: 20px;}

.data_midlle_vote_box{
    margin-left: 30px;
    margin-top: 10px;
    background-color: #F3F3F3;
    padding: 20px;
    margin-right: 10px;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
}
.data_midlle_vote_box label span {color:#096692; margin-left:5px;}
#ContentPlaceHolder1_VoteItem2{ margin-left:25px; /*jovi 0702*/}\

/*----------------------FAQ----------------------*/
.accordionPart{ list-style:none; margin:0; padding:0;}
.accordionPart li{ border-bottom:0px solid #CCC; padding:0 0px; cursor:pointer; }
.qa_title img{ position:absolute; right:5px; top:7px;}
.qa_content{ color:#000; font-size:1em; line-height:1.7em; font-family:Arial, Helvetica, sans-serif; background:url(../images/a_icon.png) no-repeat 6px 6px; padding: 11px 41px 10px 43px; text-align: justify;margin-bottom:10px; background-color: #F2F5FA;}


/*----------------------國家與地區/邦交國 list----------------------*/
.zonemap img{ width: 100%; height: auto;}
.NewTitle{ font-size:1.3em; font-weight:bold; color:#FFF; line-height: 32px; margin:10px 0 ; padding-left:10px; display:block; height:30px; background: url(../images/title_bg03.jpg) repeat-y #05c3c1;}
.countryzone h3{ font-size:1.2em; font-weight:bold; color:#FFF; line-height:29px; margin:10px 0 ; padding: 4px 10px; display:block; background: url(../images/title_bg03.jpg) repeat-y #05c3c1; background-size: contain;}
.countrylist:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.countrylist h4{ font-size:1.2em; font-weight:bold; line-height:1.6em; margin:10px 0; padding-left:32px; display:block; min-height:30px; border-bottom:3px solid #069; background:url(../images/title_icon01.png) 12px top no-repeat;}
.countryinf{ width:100%; float:left; margin:0; border-bottom:1px dotted #CCC;}
.countryinf a{text-decoration:none; color:#000;}
.countryinf .flagbox{}
.countryinf .flagbox img{ /*width:120px;*/ border:0; margin: 10px 0;}
.countryinf .countryname{ display:block; line-height:1.5em; font-size:1em; font-family:Arial, Helvetica, sans-serif; margin: 5px 0 -3px 0;}

/*----------------------國家介紹------------------------*/
.source{ display:block; text-align:right; padding:0px 10px 20px 10px; color:#999;}
.firstintro{
	background:url(../images/introbg01.jpg) no-repeat center top #E3F2FA;
	padding:15px;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:10px;
}
.firstintro:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.countrymap{float:left; margin-right:20px;}
.pointicon{color:#EA5514; font-size:1em; margin-top:10px;}
.intro{}
.intro .flag{ margin-right:10px;}
.intro .flag img{ width:200px;}
.embassyicon{}

.introlist01{}
.introlist01 .countryname{ font-size:1.2em; font-weight:bold; line-height:1.5em; margin:20px 0 10px 0; font-family:Arial, Helvetica, sans-serif;}

.introcontent01{list-style:none; margin:0; padding:0;}
.introcontent01 li{ line-height:2.2em; border-bottom:1px solid #FFF;}
.introcontent01 li span{font-size:1em;}
.introcontent01 li span a{ text-decoration:none; color:#036EB8 !important;}
.introcontent01 li span a:hover{ color:#F60;}
.blocktitle02{
	font-size:1em;
	background-color:#F39800;
	color:#FFF;
	padding:1px 2px;
	border-radius:2px;
-moz-border-radius:2px;
    margin-right:5px;
}

.pstext{ color:#F00; font-size:1em; margin-top:15px; display:block;}

.tabcontent{display:block margin-bottom:15px; border:1px solid #CCC;}
.tabcontentnew{display:block margin-bottom:15px; border:1px solid #CCC; font-family:Arial, Helvetica, sans-serif;}

/*國家與地區-相關消息----------------------*/
.CountryNews{display:block; margin-bottom:15px; border:1px solid #CCC; font-family:Arial, Helvetica, sans-serif;}
.CountryNews h3{font-size:1.2em; padding:5px; border-bottom:1px solid #999; font-weight:bold; color:#FFF; background-color:#036; position:relative;}
.CountryNews table{ margin-bottom:10px;}
.CountryNews li{ /*line-height:3em;*/ margin:5px 10px 0 20px; padding:0 0 4px 0; list-style-image:url(../images/CountryICon.png);list-style-position:outside; border-bottom:1px dashed #CCC;}
.CountryNews li span{ position:absolute; display:block; line-height:1.7em;}
.CountryNews li a{ text-decoration:none; color:#036eb8; display:block; margin: 0 0 0 96px; line-height:1.7em;}
.CountryNews li a:hover{ color:#F60;}

.introcontent02{ list-style:none; margin:10px; padding:0;}
.introcontent02 li{ line-height:1.7em; padding-top:10px; padding-bottom:10px; border-bottom:1px dashed #CCC; word-break: break-all;}
.introcontent02 li a{ text-decoration:none; color:#036EB8;}
.introcontent02 li a:hover{ color:#F60;}
.introcontent02 .pstext{ margin-top:0px;}
.introtitle01{ color:#EA5514; font-size:1em;}
.openinf{ position:relative; height:40px; }
.btnstyle01{
	background-color:#053C75;
	display:block;
	height:30px; 
	text-decoration:none;
	color:#FFF;
	line-height:2.2em;
	padding:0 8px 0px 8px;
	position:absolute;
	top:5px;
	right:15px;
}
.selectone{ margin:10px; padding:5px; background-color: #E2F4FE;}
.maptitle{ font-size:1.2em; font-weight:bold; color:#FFF; background-color:#036; margin:0 10px 1px 10px; padding:5px;}
.holiday{ margin:10px;}
.holiday h3{font-size:1.2em; padding:5px; border-bottom:1px solid #999; font-weight:bold; color:#FFF; background-color:#036; position:relative; margin:0px;}
.holiday h4{font-size:1.2em; font-weight:bold; padding:5px 0 5px 0px; text-align:center; background-color:#E2F4FE; margin:0px;}
.showall{ position:absolute; right:10px;}
.showall a{ text-decoration:none; color:#FFF; font-size:0.9em; font-weight:normal;}
.showall a:hover{ color:#FF0;}
.schedule{ border-collapse:collapse; width: 100%;}
.schedule th{ border:1px solid #FFF; padding:5px; text-align:center; font-weight:bold; font-size:1em; color:#FFF; background-color:#999;}
.schedule tr td{ border:1px solid #999; padding:5px; text-align:center; font-size:1em;}


 
/*急難救助電話-----------------*/
h2.title01{ color:#FFF; background-color:#F00; text-align:center; padding:3px 0; margin:10px 10px; font-size:1.2em;}
.intro{ line-height:1.5em; margin:0 10px 10px 10px;}
.listview2{
	list-style:none;
	margin:0 10px;
	padding:0;
	font-size:1em;
}
.listview2 li{
	border-bottom:1px dotted #999;
	padding:5px 0;
	margin-bottom:10px;
}
.listview2 li p{ clear:both;  margin:5px 0 0 0; color:#1D4E9D; line-height:1.6em;}
.blocktitle01{
	background-color:#F39800;
	color:#FFF;
	padding:1px;
	border-radius:2px;
-moz-border-radius:2px;
float:left;
}
/*急難救助電話:end-----------------*/

/*通訊錄下載-----------*/
.OfficeDownload{ float:left; margin:10px 10px 10px 10px;}
.OfficeDownload input{ background:url(../images/OfficeDownload.png) no-repeat center center; width:300px; height:300px; border:0px; cursor:pointer;}
.OfficeDownload input:hover{ border:1px dotted #069; background:url(../images/OfficeDownload_hover.png) no-repeat center center;}
.ROCDownload{ float:left; margin:10px 10px 10px 10px; }
.ROCDownload input{background:url(../images/RocDownload.png) no-repeat center center; width:300px; height:300px; border:0px; cursor:pointer;}
.ROCDownload input:hover{ border:1px dotted #069; background:url(../images/RocDownload_hover.png) no-repeat center center;}

.NewRemark{ display:block; height:25px; margin-left:10px; color:#F60;}
.CheckAddressBook table tr:first-child{ background-color:#DAEBF5;}
.CheckAddressBook table tr td{ padding:5px;}
.ROCDownloadbtn, .OfficeDownloadbtn{ text-align:center; margin:10px 0;}
.ROCDownloadbtn input, .OfficeDownloadbtn input{ cursor:pointer;}
/*通訊錄下載:end-----------*/


/*社群分享按鈕區塊*/
.share_box{
	position: absolute;
	top: 20px;
	right:0px;
	width:150px;
}
	
.share_box ul{ }	
.share_box ul li{ height:22px; padding:0 3px; float:left;}
.share_box ul li{ height:22px; padding:0 3px; float:left;}
.sharebutton_twitter {background: url(../images/sharebutton_twitter.jpg) no-repeat; display:block;height: 18px;width: 18px;}
.sharebutton_twitter a{text-indent: -10000px;display: block;}

.sharebutton_fb {background: url(../images/sharebutton_fb.jpg) no-repeat;	height: 18px;width: 18px;}
.sharebutton_fb a{text-indent: -10000px;display: block;}
.sharebutton_pl {background: url(../images/sharebutton_pl.jpg) no-repeat;	height: 18px;width: 18px;}
.sharebutton_pl a{text-indent: -10000px;display: block;}
.sharebutton_Google {background: url(../images/sharebutton_google.jpg) no-repeat; display: block;height: 18px;width: 18px;}
.sharebutton_Google a{text-indent: -10000px;display: block;}

.sharebutton_FBPages {background: url(../images/sharebutton_like.png) no-repeat; display: block;height: 18px;width: 18px;}
.sharebutton_FBPages a{text-indent: -10000px;display: block;}
.sharebutton_mail {background: url(../images/sharebutton_mail.png) no-repeat; display:block;height: 18px;width: 18px;}
.sharebutton_mail a{text-indent: -10000px;display: block;}
.noscript {/*background: url(../images/sharebutton_print.jpg) no-repeat;*/ height: 18px;width: 18px;}
.noscript a{text-indent: -10000px;display: block;}
.sharebutton_pr{height: 18px; width: 18px;}
.sharebutton_pr a{text-indent: -10000px;
   background: url(../images/p_print.png) no-repeat;
   width: 18px;
   height: 22px;
   display: block;} 
.noscript{}



/*部長公開行程---------------------*/
.calendar_box{ margin-right:10px;}
.Switch{ text-align:center; line-height:2em;}
.Switch a{ text-decoration:none; padding:0 10px; color:#034F82;}
.Switch a:hover{color:#F60;}
.Switch dt a{ padding:0px; display:block; /*border:1px solid #6CF;*/ background-color:#034F82; color:#FFF; margin-bottom:1px;}
.Switch dt a:hover{ background-color:#F90; color:#FFF;}
.num{ padding:0 5px;}
.calendar_box table{ border-collapse:collapse; margin-top:1px; border:1px solid #999;}
.calendar_box table th{ padding:5px; background-color:#E4E4E4; font-weight:bold; border-left:1px solid #FFF;}
.calendar_box table th:first-child{border-left:0px solid #FFF;}
.calendar_box table tr td{ border:1px solid #999; padding:5px;}
td.calendar_line_Activity{ background-color:#FFC;}
.calendar_line_Activity a{ display:block; text-align:left; text-decoration:none; font-weight:normal; margin-top:5px; padding:2px; color:#034F82;}
.calendar_line_Activity a:hover{ background-color:#F90; color:#FFF;}



#uscFAQFodler{ width: 100%;}

/*----google map---------------*/

.gm-style-iw{ width:200px; overflow:visible; font-size:116%; line-height:2em;}

/*----------------熱門搜尋---------*/
.hotkeyword{
 text-align: right;
 position: absolute;
    right: 15px;
    top: 65px;
 color: #F60;
}
.hotkeyword a{
 text-decoration:none;
 color:#F00;
}
.hotkeyword a:hover{
 text-decoration:underline;
}

/* 類別頁籤 */
.data_midlle_news_category {
	padding:10px 25px 0 25px;
	overflow:hidden;
}
.data_midlle_news_category ul{
	white-space: nowrap;
}
.data_midlle_news_category li{
	float:left;
	margin:0 5px 5px 0;
	display: inline;
}
.data_midlle_news_category li a{
	background:url(../images/category.jpg) no-repeat left top;
	padding:0 0 0 7px;
	height:25px; 
	line-height:25px;
	display:block;
	text-decoration:none;
	color:#666;
	display:inline-block;
	cursor:pointer;
}
.data_midlle_news_category li a:hover{
	background:url(../images/category_ov.jpg) no-repeat left top;
	display:inline-block;
	text-decoration:none;
	color: #000;
}
.data_midlle_news_category li a span{
	padding:0 7px 0 0;
	background:url(../images/category.jpg) no-repeat right top;
	height:25px; 
	line-height:25px;
	display:block;
	text-decoration:none;
	color:#666;
	display:inline-block;
	cursor:pointer;
}
.data_midlle_news_category li a span:hover{
	background:url(../images/category_ov.jpg) no-repeat right top;
	display:inline-block;
	text-decoration:none;
	color: #000;
}
li.data_midlle_news_category_yes a{
	background:url(../images/category_ov.jpg) no-repeat left top;
	color: #000;
}
li.data_midlle_news_category_yes a span{
	background:url(../images/category_ov.jpg) no-repeat right top;
	color: #000;
}

.advance_search ul li{border: 1px solid #064c89; padding: 7px; margin: 4px 0 15px 0; border-radius: 5px; background: #427fa9;}
.advance_search ul li:hover{background: #23608b;}
.advance_search ul li a{text-decoration: none; color: #FFFFFF !important;}

/* -----相關連結-link1------ */		
.data_midlle_link span{ line-height:1.5; color:#3f3f3f;}
.data_midlle_link img{ padding:2px; }
.data_midlle_link h3{ clear:both;color:#333; font-size:1.2em; padding:10px 0 0 0;  display:block;}
.data_midlle_link h4{ color:#38768b; font-size:1em; display:block; float:left; }
.data_midlle_link ul { margin:0; padding:0;}
.data_midlle_link ul li{color:#333;line-height:1.5;}
.data_midlle_link ul li:hover{}
.data_midlle_link ul li:hover a{ color:#333;}
.data_midlle_link ul li a{ /*font-family:"微軟正黑體", Arial;*/ display:block; padding-left:10px; color:#0361B8 ;line-height:1.5em; text-decoration:none; font-size: 1.1em;}
.data_midlle_link p{ line-height:1.5; color:#333; float:left; display: none;}
.data_midlle_link p a{ color:#333; line-height:1.5; display:block;}
.data_midlle_link p a:hover{ color:#333; }

.data_midlle_link b{ font-weight:normal;  display:block; float:left; display: none;}
.data_midlle_link b a{ color:#333 !important; text-decoration:none; display:inline !important;}
.data_midlle_link b a:hover{ color: rgb(1, 132, 124) !important; text-decoration:none; display:inline !important;}
.data_midlle_link br{ display:none;}

/* 網站導覽頁籤---------------------------------------------------- */
.sitemap_tab{  height:auto; overflow:hidden; position:relative; margin:10px 10px 25px 0px; /*border-bottom:#CCC solid 1px;*/ background-color:#CCC;}
.sitemap_tab ul{  display:block;  overflow:hidden; padding: 0; padding: 0px; margin: 0 auto; text-align: center;}
.sitemap_tab ul li{ display: inline-block; line-height:1.5;   /*border:#CCC solid 1px;*/}
.sitemap_tab ul li a{ display:block; color:#333333;   padding:10px 10px 10px 15px; font-size:1em;  font-weight:bold; text-decoration:none;  height:20px; }
.sitemap_tab ul li a:hover{ display:block; color:#024ea9; }

.sitemap_tab_yes { display:block;  color: #024ea9; background-color:#f4f4f4; font-weight:bold; border: #CCC solid 1px;  }
.sitemap_tab_yes a{ display:block;  color:#024ea9; font-weight:bold; }
.sitemap_tab_yes a:hover{ display:block;  color:#024ea9; font-weight:bold; }

/*-----網站導覽----*/
.data_midlle_sitemap{line-height:2.5; padding:0px 0 0 30px; font-size:1em; letter-spacing:0.15em; font-family:/*"新細明體",*/ Arial, Helvetica, sans-serif;}
.data_midlle_sitemap a{  color:#333; text-decoration:none;}
.data_midlle_sitemap a:hover{	color:#C03; background-color:#E1EAF1; /*position:relative; top:1px; left:1pt;*/}

/*免簽證資訊*/
.cp_tabs { display: block; font-weight: normal; margin-bottom:10px; padding: 5px 5px 5px 0px; height: 40px; word-wrap: break-word; word-break: break-all; }
.cp_tabs ul { padding: 0 0px 0px 0px; font-weight: normal; font-size: 0.8em; border-bottom:1px dotted #6394AB;}
.cp_tabs ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cp_tabs ul li { float: left; display: block; color: #000; line-height: 1.6; background: url(../images/datamiddle_icon.png) no-repeat 0px 8px; background: url(../images/datamiddle_icon.png) no-repeat 2px 5px \9; padding: 8px 12px 7px 20px; font-weight: normal; margin-right: 8px; margin-bottom:10px; }
.cp_tabs ul li a { color:#000 ; text-decoration: none; font-weight: normal; font-size:1.3em; }
.cp_tabs ul li a:hover { color:#F60; position: relative; bottom: 1px; font-weight: normal; }
.cp_tabs .liSelect{ background-color:#F90; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.cp_tabs .liSelect a{ color:#fff !important;}
.cp_tabs .liSelect a:hover{ color:#fff !important;}
.data_midlle_cp{ margin-bottom:20px; }
.data_midlle_cp h2{ line-height: 1.6em; font-size: 1.1em; font-weight:bold; color: #060;}
.data_midlle_cp h3{ line-height: 2em; font-size: 1.1em; font-weight:bold; margin: 0;}
.data_midlle_cp p{ line-height:2em; font-family:"新細明體", Arial, Helvetica, sans-serif, ; }
.data_midlle_cp table{width: 100%;}
.data_midlle_cp table tr td a{ color:#000  !important; text-decoration: none; margin-top: 10px;}
.data_midlle_cp table tr td a:hover{ color:#F60;}

.data_midlle_cp h3.TypeTitle1, .data_midlle_cp h3.TypeTitle2, .data_midlle_cp h3.TypeTitle3{ font-size:1.2em; display:block; width:100px; height:30px; line-height:2.1em; text-align:center; margin-top:10px; color:#FFF; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.data_midlle_cp h3.TypeTitle1{ background-color:#034F82; height: 34px; padding: 0; margin: 10px 0 0 0; line-height: 37px; font-size: 1em;}
.data_midlle_cp h3.TypeTitle2{ background-color:#13789C;}
.data_midlle_cp h3.TypeTitle3{ background-color:#0091A3;}
.GoogleMap{ border:5px solid #EFEFEF;}

.data_midlle_cp ol li{ list-style:decimal; line-height: 1.6em; font-weight: normal; margin-left:0px; list-style-position: inside;}
.data_midlle_cp ol li ul li{ list-style:none; line-height: 1.6em; font-size:15px; font-family:"新細明體", Arial, Helvetica, sans-serif, ;margin-left:10px;}