//框架
//內頁內容區塊================================================================

.base-section {
  overflow: hidden;
  position: relative;
  width: $pc-width;
  margin: 0 auto 168px;
  width: 840px;
  min-height: 800px;
  background: $white;
  margin-top: 32px;
  @include rwd(1024) {
    width: 100%;
  }

  a {
    @each $key, $map in $file-type-map {
      $pic: map-get($map, 'pic');
      $color: map-get($map, 'color');

      &.#{$key} {
        &:after {
          @include icon-pic($pic);
          margin-left: $interval-s;
          display: none;
        }
      }
    }
  }

  > .in {
    @include media ('phone') {
      margin: 0;
    }

    > .hd {
      > .in {}

      h3 {}

      span {}
    }

    > .ct {
      > .in {
        .group.default.info {
          height: 54px;
        }
      }
    }
  }
}
