<div class="wrapthis">
    <div id="ContentPlaceHolder1_ContenDiv" class="theme_wrapper_06 theme_wrapper_10">
        <h4> 熊本地震人道救援</h4>
        <!--banner-->
        <div class="tbanner">
            <img src="../images/innerBanner.jpg" border="0" alt="Banner">
        </div>
        <!--info-->
        <div class="info">
    <h5> 東海和平倡議專區</h5>
    <p>&nbsp;<span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">針對近期發生在東海及釣魚臺列嶼海域相關爭議，中華民國政府重申：釣魚臺列嶼乃臺灣屬島、中華民國固有領土。</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">中華民國之主張，係依據「開羅宣言」、「波茨坦公告」、「日本降伏文書」、「舊金山和約」及「中日和約」，釣魚臺列嶼應隨臺灣回歸中華民國。</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">中華民國瞭解到相關方面對本區域有不同主張，致多年來爭議不斷，近來本區域緊張情勢漸有升高現象。中華民國鄭重呼籲相關各方應依據聯合國憲章及國際法之原則，和平解決爭端。</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">中華民國政府對釣魚臺列嶼問題一貫立場是：「主權在我、擱置爭議、和平互惠、共同開發」。釣魚台列嶼問題所涉之東海區域，位居西太平洋海空交通之樞紐，攸關亞太區域、乃至世界安全與和平。為增進本區域持續和平穩定、經濟進步繁榮、海洋生態永續發展，各方應積極謀求共存共榮之道，中華民國政府爰提出「東海和平倡議」如下：</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">呼籲相關各方—</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">一、應自我克制，不升高對立行動；</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">二、應擱置爭議，不放棄對話溝通；</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">三、應遵守國際法，以和平方式處理爭端；</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">四、應尋求共識，研訂「東海行為準則」；</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">五、應建立機制，合作開發東海資源。</span>
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <br style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">
        <span style="color: rgb(70, 70, 70); font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 19px;">中華民國政府深盼相關各方共同努力，俾「東海和平倡議」早日實現，使東海成為「和平與合作之海」。（E）</span></p>
</div>

        <!--專欄-->
        <div class="three">
            <ul>
                <li>
                    <div class="colum">
                        <h6>消息與公告</h6><img alt=" " class="colum_Img1">
                        <dl>
                            <dt><a target="_blank" href="http://www.mohw.gov.tw/cht/Ministry/DM2_P.aspx?f_list_no=9&amp;fod_list_no=5727&amp;doc_no=54417">衛生福利部賑災專戶經收各界捐款日本熊本震災專案捐款名冊<img src="images/Icons/link.gif" alt="另開新視窗" border="0"></a></dt>
                            <dt><a href="http://www.mofa.gov.tw/News_Content_M_2.aspx?n=8742DCE7A2A28761&amp;sms=491D0E5BF5F4BC36&amp;s=518EDFF37987397E">外交部常務次長李澄然代表政府接受「台灣創價學會」賑濟日本熊本震災之新臺幣300萬元善款</a></dt>
                            <dt><a href="http://www.mofa.gov.tw/News_Content_M_2.aspx?n=8742DCE7A2A28761&amp;sms=491D0E5BF5F4BC36&amp;s=4066C1E88D0688AA">中華民國政府將捐贈款項及派遣救難隊以協助日本政府賑災</a></dt>
                            <dt><a target="_blank" href="http://www.boca.gov.tw/ct.asp?xItem=7527&amp;ctNode=697&amp;mp=1">日本九州南阿蘇發生7級強震，外交部籲請赴該地區旅遊國人留意餘震及周邊旅遊交通等資訊<img src="images/Icons/link.gif" alt="另開新視窗" border="0"></a></dt>
                            <dt><a target="_blank" href="http://www.ey.gov.tw/News_Content2.aspx?n=F8BAEBE9491FC830&amp;sms=99606AC2FCD53A3A&amp;s=BA652B073F2ECDBE">[行政院]張揆關切日本熊本地震傷亡 並指示儘速掌握國人狀況<img src="images/Icons/link.gif" alt="另開新視窗" border="0"></a></dt>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="colum">
                        <h6>相關網站連結</h6><img alt=" " class="colum_Img2">
                        <dl>
                            <dt><a target="_blank" href="http://www.mohw.gov.tw/CHT/DOSAASW/DM1_P.aspx?f_list_no=112&amp;doc_no=54413">[衛福部]衛福部賑災專戶首次與超商合作 民眾公益捐款更方便<img src="images/Icons/link.gif" alt="另開新視窗" border="0"></a></dt>
                            <dt><a target="_blank" href="http://www.mohw.gov.tw/news/571854366#">[衛福部]中央成立募款窗口 協助日本救災重建<img src="images/Icons/link.gif" alt="另開新視窗" border="0"></a></dt>
                        </dl>
                    </div>
                </li>
                <!-- 第三筆 -->
                <li>
                    <div class="colum">
                        <h6>相關網站連結</h6><img alt=" " class="colum_Img2">
                        <dl>
                            <dt><a target="_blank" href="http://www.mohw.gov.tw/CHT/DOSAASW/DM1_P.aspx?f_list_no=112&amp;doc_no=54413">[衛福部]衛福部賑災專戶首次與超商合作 民眾公益捐款更方便<img src="images/Icons/link.gif" alt="另開新視窗" border="0"></a></dt>
                            <dt><a target="_blank" href="http://www.mohw.gov.tw/news/571854366#">[衛福部]中央成立募款窗口 協助日本救災重建<img src="images/Icons/link.gif" alt="另開新視窗" border="0"></a></dt>
                        </dl>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</div>
