<div class="group-list nav" data-setnavlen="6" data-index="2" data-type="4" data-child="10">
    <div class="in">
        <div class="hd">
            <div class="in">
                <h3><img src="../Images/icon-ft-logo.png" alt=""></h3>
                <ul class="link">
                    <li><a href="#">隱私權宣告</a></li>
                    <li><a href="#">資訊安全政策</a></li>
                    <li><a href="#">著作權聲明</a></li>
                </ul>
                <ul class="address">
                    <li class="col-1">機關地址：臺北市中正區北平西路三號 （郵遞區號10041)</li>　　　　
                    <li class="col-2">機關電話：02-2389-9554、02-23815226（總機）</li>
                    <li class="col-3">統一編號：07524729</li>
                </ul>
            </div>
        </div>
        <div class="ct">
            <div class="in">
                <ul data-index="1" data-child="3">
                    <li class="col-1">
                        <div class="group nav" data-index="1" data-type="3" data-child="1">
                            <div class="in">
                                <div class="hd">
                                    <div class="in">
                                        <h3>24小時客服電話</h3>
                                        <span>一般服務諮詢及旅客申訴</span>
                                    </div>
                                </div>
                                <div class="ct">
                                    <p>
                                        <i></i>
                                        <span>0800-765-888</span>
                                        <span class="phone">市話</span>
                                    </p>
                                    <p>
                                        <i></i>
                                        <span>02-2191-0096</span>
                                        <span class="phone">市話</span>
                                        <span class="phone cell">手機</span>
                                    </p>
                                </div>
                                <div class="ft">
                                    <a href=""><i></i>網路語音客服(另開新視窗)</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-2">
                    <div class="ct">
                        <img src="../Images/icon-ft-24.png" alt="">
                    </div>
                    </li>
                    <li class="col-3">
                        <div class="group nav" data-index="1" data-type="3" data-child="1">
                            <div class="in">
                                <div class="hd">
                                    <div class="in">
                                        <h3>24小時緊急通報電話</h3>
                                        <span>僅限發現軌道、平交道、橋樑及隧道等有障礙物之通報專用</span>
                                    </div>
                                </div>
                                <div class="ct">
                                    <p>
                                        <i></i>
                                        <span>0800-80-333</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ft">
            最佳瀏覽解析度為 1024 * 768   更新日期：2017-04-25 <img src="../Images/aplus.jpg" alt="">
        </div>
    </div>
    <div class="ftBom">交通部臺灣鐵路管理局 版權所有Taiwan Railways Administration, MOTC On www since March 8 2007~2017. All Rights Reserved. </div>
</div>
