<div class="area-customize list-pic slider " data-index="1" data-type="0" data-func="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
    <div class="in">
        <div class="hd">
            <div class="in">
                <h4><span><a href="#">輪播(圖片)</a></span></h4>
            </div>
        </div>
        <div class="ct">
            <div class="in">
                <ul data-index="1" data-child="6">
                    <li data-index="1"><span style="background-image: url('../Images/ad/ad01.jpg')"><a href="#"><i class="mark">voluptatem</i><img src="../Images/ad/ad01.jpg" alt=""></a></span></li>
                    <li data-index="2" style="display: none;"><span style="background-image: url('../Images/ad/ad02.jpg')"><a href="#"><i class="mark">facilis</i><img src="../Images/ad/ad02.jpg" alt=""></a></span></li>
                    <li data-index="3" style="display: none;"><span style="background-image: url('../Images/ad/ad03.jpg')"><a href="#"><i class="mark">suscipit</i><img src="../Images/ad/ad03.jpg" alt=""></a></span></li>
                    <li data-index="4" style="display: none;"><span style="background-image: url('../Images/ad/ad04.jpg')"><a href="#"><i class="mark">ratione</i><img src="../Images/ad/ad04.jpg" alt=""></a></span></li>
                    <li data-index="5" style="display: none;"><span style="background-image: url('../Images/ad/ad05.jpg')"><a href="#"><i class="mark">tenetur</i><img src="../Images/ad/ad05.jpg" alt=""></a></span></li>
                    <li data-index="6" style="display: none;"><span style="background-image: url('../Images/ad/ad06.jpg')"><a href="#"><i class="mark">modi</i><img src="../Images/ad/ad06.jpg" alt=""></a></span></li>
                </ul>
            </div>
        </div>
        <div class="ft">
            <div class="in">
                <ul data-index="1" data-child="3">
                    <li class="next"><span><a href="#">next</a></span></li>
                    <li class="prev"><span><a href="#">prev</a></span></li>
                    <li data-index="1" class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
