<div class="data_midlle_link">
    <h4>&nbsp;</h4>
    <ul>
        <li>
            <a href="#" class="div">
                <div class="img">
                    <img src="../images/linkPic.jpg" alt="食品標示">
                </div>
                <div class="essay">
                    <div class="figcaption"><span>食品標示食品標示食品標示食品標示食品標示</span></div>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="div">
                <div class="img">
                    <img src="../images/linkPic.jpg" alt="食品標示">
                </div>
                <div class="essay">
                    <div class="figcaption"><span>食品標示食品標示食品標示</span></div>
                </div>
            </a>
        </li>

                <li>
            <a href="#" class="div">
                <div class="img">
                    <img src="../images/linkPic.jpg" alt="食品標示">
                </div>
                <div class="essay">
                    <div class="figcaption"><span>食品標示食品標示</span></div>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="div">
                <div class="img">
                    <img src="../images/linkPic.jpg" alt="食品標示">
                </div>
                <div class="essay">
                    <div class="figcaption"><span>食品標示</span></div>
                </div>
            </a>
        </li>
                <li>
            <a href="#" class="div">
                <div class="img">
                    <img src="../images/linkPic.jpg" alt="食品標示">
                </div>
                <div class="essay">
                    <div class="figcaption"><span>食品標示</span></div>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="div">
                <div class="img">
                    <img src="../images/linkPic.jpg" alt="食品標示">
                </div>
                <div class="essay">
                    <div class="figcaption"><span>食品標示</span></div>
                </div>
            </a>
        </li>
                <li>
            <a href="#" class="div">
                <div class="img">
                    <img src="../images/linkPic.jpg" alt="食品標示">
                </div>
                <div class="essay">
                    <div class="figcaption"><span>食品標示</span></div>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="div">
                <div class="img">
                    <img src="../images/linkPic.jpg" alt="食品標示">
                </div>
                <div class="essay">
                    <div class="figcaption"><span>食品標示</span></div>
                </div>
            </a>
        </li>
    </ul>
</div>
