                        <!-- /erb/area-customize_pchouse-album -->
                        <div class="area-customize pchouse-album04" data-index="1" data-type="0">
                            <div class="in">
                                <div class="ct">
                                    <div class="in">
                                        <ul>
                                            <li>
                                                <a href="http://www.boca.gov.tw" class="div">
                                                    <div class="img"><span style="background-image: url('../Images/litt_link08.png')">   
            <img src="../Images/litt_link08.png" alt="領事事務局"></span></div>
                                                    <div class="essay">
                                                        <div class="figcaption">
                                                        <span>領事事務局領事事務局領事事務局領事事務局</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.boca.gov.tw/np.asp?ctNode=847&amp;mp=1" class="div">
                                                    <div class="img"><span style="background-image: url('../Images/litt_link08.png')">   
            <img src="../Images/litt_link08.png" alt="出國登錄"></span></div>
                                                    <div class="essay">
                                                        <div class="figcaption"><span>領事事務局領事事務局</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                                                                        <li>
                                                 <a href="http://www.boca.gov.tw" class="div">
                                                    <div class="img"><span style="background-image: url('../Images/litt_link08.png')">   
            <img src="../Images/litt_link08.png" alt="領事事務局"></span></div>
                                                    <div class="essay">
                                                        <div class="figcaption"><span>領事事務局領事事務局</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                 <a href="http://www.boca.gov.tw" class="div">
                                                    <div class="img"><span style="background-image: url('../Images/litt_link08.png')">   
            <img src="../Images/litt_link08.png" alt="領事事務局"></span></div>
                                                    <div class="essay">
                                                        <div class="figcaption"><span>領事事務局領事事務局領事事務局</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                                                                        <li>
                                                 <a href="http://www.boca.gov.tw" class="div">
                                                    <div class="img"><span style="background-image: url('../Images/litt_link08.png')">   
            <img src="../Images/litt_link08.png" alt="領事事務局"></span></div>
                                                    <div class="essay">
                                                        <div class="figcaption"><span>領事事務局領事事務局</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                 <a href="http://www.boca.gov.tw" class="div">
                                                    <div class="img"><span style="background-image: url('../Images/litt_link08.png')">   
            <img src="../Images/litt_link08.png" alt="領事事務局"></span></div>
                                                    <div class="essay">
                                                        <div class="figcaption"><span>領事事務局領事事務局領事事務局</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                                                                        <li>
                                                 <a href="http://www.boca.gov.tw" class="div">
                                                    <div class="img"><span style="background-image: url('../Images/litt_link08.png')">   
            <img src="../Images/litt_link08.png" alt="領事事務局"></span></div>
                                                    <div class="essay">
                                                        <div class="figcaption"><span>領事事務局領事事務局</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                 <a href="http://www.boca.gov.tw" class="div">
                                                    <div class="img"><span style="background-image: url('../Images/litt_link08.png')">   
            <img src="../Images/litt_link08.png" alt="領事事務局"></span></div>
                                                    <div class="essay">
                                                        <div class="figcaption"><span>領事事務局領事事務局領事事務局</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /erb/area-customize_pchouse-album -->