<div class="group base-header" id="base-header" data-index="<%= index %>" data-type="<%= $row %>" data-child="2"><div class="in">
	<div class="ct"><div class="in">

	<!-- logo 主要標誌 -->
		<%= render partial: "/erb/simple-text_major-logo", locals: set({ index: 2, header_text: "標誌" }) %>
	<!-- logo 結束 -->

	<!-- nav 選單 -->
		<%= render partial: "/erb/group-list_nav", locals: set({ index: 3, func_set: "{'majorNavStraight':{}}", header_text: "主選單", inner: "/erb/list-text_nav" }) %>
	<!-- nav 結束 -->
	
	</div></div>
</div></div>