<div class="group-list major-slider " data-index="1" data-type="4" data-child="8" data-func="{'picSlider':{'auto':true,'delay':5000,'speed':300,'sliderType':1}}">
    <div class="in">
        <div class="ct">
            <div class="in">
                <ul data-index="1" data-child="8">
                    <li data-index="1">
                        <!-- /erb/simple-pic_default -->
                        <div class="simple-pic default " data-index="1" data-type="0">
                            <div class="in">
                                <div class="ct">
                                    <div class="in">
                                        <span style="background-image: url('../Images/ad02.png');"><a href="#"><img src="../Images/ad02.png" alt=""></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /erb/simple-pic_default -->
                    </li>
                    <li data-index="2" style="display: none;">
                        <!-- /erb/simple-pic_default -->
                        <div class="simple-pic default " data-index="1" data-type="0">
                            <div class="in">
                                <div class="ct">
                                    <div class="in">
                                        <span style="background-image: url('../Images/ad03.png');"><a href="#"><img src="../Images/ad03.png" alt=""></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /erb/simple-pic_default -->
                    </li>
                    <li data-index="3" style="display: none;">
                        <!-- /erb/simple-pic_default -->
                        <div class="simple-pic default " data-index="1" data-type="0">
                            <div class="in">
                                <div class="ct">
                                    <div class="in">
                                        <span style="background-image: url('../Images/ad04.png');"><a href="#"><img src="../Images/ad04.png" alt=""></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /erb/simple-pic_default -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="ft">
            <div class="in">
                <ul data-index="1" data-child="9">
                    <li class="slider-item1 is-dot is-active"><span><a href="http://placekitten.com/g/1024/360" title="輪播項目8">輪播項目8</a></span></li>
                    <li class="slider-item2 is-dot"><span><a href="http://placekitten.com/g/1024/360" title="輪播項目7">輪播項目7</a></span></li>
                    <li class="slider-item3 is-dot"><span><a href="http://placekitten.com/g/1024/360" title="輪播項目6">輪播項目6</a></span></li>
                    <li data-index="1" class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
